<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.couple.couplediaryapp.diary.DiaryMapper">
    <!-- 일기 목록 조회 -->
    <select id="getDiary">
        SELECT B.cdiary AS diaryId, A.pic, B.title, B.`contents`, B.emoji, B.created_at AS createdAt
        FROM couple_user AS A
        JOIN couple_diary AS B
        ON A.cuser = B.cuser
        WHERE B.ccouple = #{coupleId}
        ORDER BY B.created_at DESC
    </select>

    <select id="getDiaryPics">
        SELECT cpic
        FROM couple_pics
        WHERE cdiary = #{diaryId}
    </select>

    <select id="getDiaryHash">
        SELECT hash_contents
        FROM couple_hash
        WHERE cdiary = #{diaryId}
    </select>
    <!-- -->

    <!-- 일기 읽기 -->
    <select id="selPicDiary">
        SELECT cpic as pic
        FROM couple_pics
        WHERE cdiary = #{diaryId}
    </select>

    <select id="selHashDiary">
        SELECT hash_contents as hashContents
        FROM couple_hash
        WHERE cdiary = #{diaryId}
    </select>

    <select id="selDiary">
        SELECT A.title, A.contents, A.emoji, A.created_at AS createdAt, B.pic
        FROM couple_diary A
        JOIN couple_user B
        ON A.cuser = B.cuser
        WHERE A.cdiary = #{diaryId}
    </select>
    <!-- -->

    <!-- 일기 등록 (내용, 사진, 해시태그 insert) -->
    <insert id="insDiary" keyProperty="diaryId" useGeneratedKeys="true">
        INSERT INTO couple_diary
        SET ccouple = #{ccouple}
        , cuser = #{cuser}
        , title = #{title}
        , contents = #{contents}
        , emoji = #{emoji}
    </insert>

    <insert id="insDiaryPics">
        INSERT INTO couple_pics
        (cdiary, cpic)
        VALUES
        <foreach collection="pics" item="cpic" separator=",">
            ( #{diaryId}, #{cpic} )
        </foreach>
    </insert>

    <insert id="insDiaryHash">
        INSERT INTO couple_hash
        (cdiary, hash_contents)
        VALUES
        <foreach collection="hashContents" item="hash_contents" separator=",">
            ( #{diaryId}, #{hash_contents} )
        </foreach>
    </insert>
    <!-- -->

    <!-- 주영 -->
    <!-- 일기 수정 -->
    <update id="updDiary">
        UPDATE couple_diary SET
        title = #{title},
        contents = #{contents},
        emoji = #{emoji}
        WHERE cdiary = #{diaryId}
    </update>

    <!-- 일기 사진 수정 -->
    <update id="updDiaryPics">
        UPDATE couple_pics SET
        cpic = #{pic}
        WHERE cpics = #{picsId}
    </update>

    <!-- 일기 해시태그 수정 -->
    <update id="updDiaryHash">
        UPDATE couple_hash SET
        hash_contents = #{hash}
        WHERE chash = #{hashId}
    </update>

    <!-- picsId 가져오기 -->
    <select id="getPicsId">
        SELECT cpics FROM couple_pics WHERE cdiary = #{diaryId}
    </select>

    <!-- hashId 가져오기 -->
    <select id="getHashId">
        SELECT chash FROM couple_hash WHERE cdiary = #{diaryId}
    </select>
    <!-- -->

    <!-- 일기 사진 부분 삭제 -->
    <delete id="delDiaryPic">
        DELETE FROM couple_pics WHERE cpics = #{picsId}
    </delete>

    <!-- 일기 해시태그 부분 삭제 -->
    <delete id="delDiaryHash">
        DELETE FROM couple_hash WHERE chash = #{hashId}
    </delete>

    <!-- 일기 사진 부분 등록 -->
    <insert id="insDiaryPicPart">
        INSERT INTO couple_pics(cdiary, cpic) VALUES
        (#{diaryId}, #{pic})
    </insert>

    <!-- 일기 해시태그 부분 등록 -->
    <insert id="insDiaryHashPart">
        INSERT INTO couple_hash(cdiary, hash_contents) VALUES
        (#{diaryId}, #{hash})
    </insert>

    <!-- 승민 -->
    <delete id="delDiaryPics">
        delete
        from couple_pics
        where cdiary = #{diaryId}
    </delete>

    <delete id="delDiaryHashs">
        delete
        from couple_hash
        where cdiary = #{diaryId}
    </delete>

    <delete id="delDiary">
        delete
        from couple_diary
        where cdiary = #{diaryId}
    </delete>
</mapper>