<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.couple.couplediaryapp.user.UserMapper">
    <insert id="signUp">
        INSERT INTO couple_user SET
        uid = #{uid},
        upw = #{upw},
        nm = #{nm},
        pic = #{pic},
        gender = #{gender},
        birth = #{birth},
        started_at = #{startedAt}
    </insert>

    <select id="getUser">
        SELECT a.cuser userId, b.ccouple coupleId, uid, upw, nm, pic, birth, started_at startedAt, gender
        FROM couple_user a
        INNER JOIN couple b
        ON a.cuser = b.cwoman OR a.cuser = b.cman
        WHERE a.uid = #{uid}
    </select>

    <!-- -->
    <select id="getProfile">
        SELECT A.cuser, A.nm, A.pic, C.pic as partnerPic, A.birth, A.started_at AS startedAt
        FROM couple_user AS A
        JOIN couple AS B
        ON A.gender = 'M' AND B.cman = A.cuser
        OR A.gender = 'W' AND B.cwoman = A.cuser
        JOIN couple_user AS C
        ON A.gender = 'M' AND B.cwoman = C.cuser
        OR A.gender = 'W' AND B.cman = C.cuser
        WHERE B.ccouple = #{coupleId}
        ORDER BY A.cuser = #{userId} DESC
    </select>

    <update id="updProfile">
        update couple_user
        set
        nm = #{nm},
        pic = #{pic},
        birth  = #{birth},
        started_at = #{startedAt}
        where cuser = #{userId}
    </update>
</mapper>